body {
  font-family: 'Roboto', sans-serif;
  background: $dark-white;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Slab', serif;
}

p {
  line-height: 1.75;
}

.container{
  @include make-max-widths-container-width-custom();
}

@if $enable-grid-classes {
  .container {
    @include make-container-custom();
  }
}

@if $enable-grid-classes {
  .container-fluid {
    @include make-container-custom();
  }
}

@if $enable-grid-classes {
  .row {
    @include make-row-custom();
  }
}

@if $enable-grid-classes {
  @include make-grid-columns-custom();
}

header{
  background: $white;  
}

.lang{
  position: absolute;
  right: 15px;
  z-index: 2;
  li{
    margin: 0;
    &.active a{
      background: $fun-blue;
    }
    a{
      font-family: 'Arimo', sans-serif;
      font-size:12px;
      color:$bombay;  
      text-decoration:none;
      padding: 10px;
      &:hover{
        background: darken( $fun-blue, 15% );
      }    
    }
  }
}

#articles{
  h1{
    font-size: 24px;
    color:$mine-shaft;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

figure{
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

article a:hover h3{
  background: $amaranth;
  transition: all 0.3s ease;
}

.card-body{
  position: absolute;
  bottom:0px;
  padding-left: 0;
  max-width: 250px;
  &.duke{
    left: 30px!important;
    max-width: 300px;
    bottom:20px;
    padding: 0;
    .card-title{
      font-size: 26px;
      span{
        font-size: 16px;
        margin-top: 5px;
        display: block;
      }
    }
  }
}

.card-title{
  margin: 0;   
  color:white;
  text-decoration: none;
  font-size: 16px;
  background:rgba(26, 26, 26, 0.8);
  padding: 20px 10px 20px 20px;
  display: block;
}

.cubeseats{
  margin-bottom:20px;
  overflow: hidden;
} 


