.navbar-brand{
  img{
    width: 100px;
  }
}

.navbar-menu{
  .nav-item{
    padding: 10px 15px;
    font-weight: bold;
    font-size: 15px;        
    text-transform: uppercase;
    a{        
      color: $fun-blue;
      &:hover{
        color: $amaranth;
      }
    }
  }
}

#main-menu{
  .navbar-social-menu{
    .nav-item{
      &:last-child a{
        padding-right: 0;
      }
      a{
        padding-left: 5px;
        padding-right: 5px;
        color:$bombay;
        &:hover{
          color:darken( $bombay, 15% );
        }
      }
      i{        
        width:25px;
        height:25px;
        padding:10px;         
      }
    }
  }
}

.nav-container{
  position: relative;
  top: 0;
}

.navbar-toggler {
  font-size: 12px;
  top:20px;
  position: relative;
  padding: 13px;
  text-transform: uppercase;
  color: $white;
  border: 0;
  background-color: $fun-blue;
  border-radius: 0;
  right: -4px;
}

.navbar-expand-lg{
  z-index: 1;

}