@include media-breakpoint-down(sm) {
  .controls{
    text-align: center;
    a{
      position: static;
      display: inline-flex;
    }
  }
}

@include media-breakpoint-between(sm, lg) {
  .navbar-expand-lg > .container{
    padding-left: 15px;
    padding-right:15px;
  }

  .carousel-control-prev{
    left:-13px;
  }

  .carousel-control-next{
    right: -13px;
  } 
}

@include media-breakpoint-between(lg, xl) {
  .same-height {
    max-height: 220px;
  }  
}

@include media-breakpoint-down(md) { 
  article{
    margin-bottom: 20px;
  }

  .nav-item{
    padding: 10px 15px;
    .nav-link{
      padding: 0;
      i{
        padding:0!important;
      }
    }    
  }

  #main-menu .navbar-social-menu .nav-item a{
    color: $fun-blue;
    &:hover{
      color: $amaranth;
    }
    span{
      font-weight: bold;
      text-transform: uppercase;
      font-size: 15px;
    }
  } 

  .lang {
    right: 2px;
  }
}

@include media-breakpoint-up(lg) { 
  %control-position {
    left: 0;
    right: 0;
    margin: auto;
    width:35px;
    height:35px;
  }  
  
  .carousel-item .col{
    flex-basis: auto;
    margin-top:4px;
    margin-bottom:4px;
  }

  .carousel-control-prev span,.carousel-control-next span{
    -ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
    transform: rotate(90deg);
  }

  .carousel-control-prev{
    bottom: initial;
    @extend %control-position;
  }

  .carousel-control-next{
    top: initial;
    @extend %control-position;
  }

  .vert .carousel-item-next.carousel-item-left,
  .vert .carousel-item-prev.carousel-item-right {
    @include translate3d(0, 0, 0);
  }

  .vert .carousel-item-next,
  .vert .active.carousel-item-right {
    @include translate3d(0, 100%, 0);
  }

  .vert .carousel-item-prev,
  .vert .active.carousel-item-left {
    @include translate3d(0, -100%, 0);
  }  

  #thumbsCarousel{
    padding: 0px 4px;
  }  
}

@include media-breakpoint-up(xl) { 
  .same-height{
    max-height: 285px;   
  }  
}