// Variables
// Nae from http://chir.ag/

$white: #fff !default;
$dark-white :#f0f3f5 !default;
$black: rgb(199, 6, 6) !default;

$fun-blue: #1a5dad !default;
$steel-blue: #5a8ac2 !default;
$amaranth: #ef293d !default;
$bombay: #b2b2b3 !default;
$dusty-gray: #999 !default;
$mine-shaft: #333333 !default;
